@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>18years</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    
    <!-- header section ends -->
    <!-- section description 20k poslyga starts -->
    <section class="poslyga-desrc">
        <div class="poslyga-desrc">
            <h1 class="poslyga-title">
                Призначення одноразової матеріальної допомоги одному з батьків, з нагоди дня
                народження дітей до 18 років (включно), батьки яких призвані на військову службу або беруть участь у
                заходах, необхідних для забезпечення оборони України
            </h1>
            <div class="poslyga-full-descr">
                <p class="ident">
                    <b>Право на отримання послуги мають:</b>
                    Батьки, які призвані на військову службу або беруть участь у заходах, необхідних для забезпечення
                    оборони України
                </p>
                <p class="ident">
                    <b>Орган, що надає послугу:</b>
                    Департамент соціальної політики виконавчих органів місцевих рад, ЦНАП
                </p>
                <p class="ident">
                    <b> Місце подання документів та отримання результату:</b>
                    ЦНАП та його територіальні підрозділи
                </p>
                <p class="ident">
                    Перелік документів:
                </p>
                <div class="list">
                    <ol>
                        <li>Заява встановленого взірця.</li>
                        <li>Копія паспорта заявника.</li>
                        <li>Копія реєстраційного номера облікової картки платника податків заявника.</li>
                        <li>Копія довідки про реєстрацію місця проживання або місця перебування особи (при наявності).</li>
                        <li>Копія свідоцтва про народження дочки (сина), паспорта та витягу з реєстру територіальної громади про реєстрацію місця проживання дитини/дітей.</li>
                        <li>Копія документа про зміну прізвища (свідоцтва про шлюб, свідоцтва про розірвання шлюбу. Рішення суду) - при потребі.</li>
                        <li>Копія посвідчення багатодітної сім'ї або копії свідоцтв про народження всіх дітей (подається багатодітними сім'ями).</li>
                        <li>Копія довідки навчального закладу про навчання за денною формою здобуття освіти (подається багатодітними сім'ями, в яких виховуються діти старше 18 років).</li>
                        <li>Копія посвідчення одержувача державної соціальної допомоги дітям з інвалідністю або медичного висновку про дитину з інвалідністю віком до 18 років (подається сім'ями, в яких виховується дитина з інвалідністю).</li>
                        <li>Копія посвідчення особи з інвалідністю або довідки МСЕК (при наявності).</li>
                        <li>Копія документа про безпосереднє залучення особи у заходах, необхідних для забезпечення оборони України, захисту безпеки населення та інтересів держави у зв'язку з військовою агресією російської федерації проти України.</li>
                        <li>Копія свідоцтва про смерть, лікарського свідоцтва про смерть, повідомлення про загибель особи (подається членами сім'ї загиблого (померлого), зниклого безвісти учасника АТО/ООС, Захисника України).</li>
                        <li>Копія документа про безпосереднє залучення у заходах, необхідних для забезпечення оборони України, захисту безпеки населення та інтересів держави у зв'язку з військовою агресією рф проти України, або документа про безпосередню участь в АТО.</li>
                        <li>Реквізити рахунку, відкритого в банку.</li>
                        <li>Копія довідки внутрішньо переміщеної особи (при зверненні даної категорії осіб).</li>
                    </ol>
                </div>
                <p class="ident">
                    Нормативні документи, що регулюють надання послуги:
                </p>
                <div class="list">
                    <ul class="appeal">
                        <li>
                            ЗУ «Про адміністративні послуги»
                        </li>
                        <li>
                            ЗУ «Про звернення громадян»
                        </li>
                        <li>
                            ЗУ «Про місцеве самоврядування»
                        </li>
                    </ul>
                    <p class="ident">
                        Документи, які отримує особа за результатом розгляду справи:
                    </p>
                    <div class="list">
                        <ul class="appeal">
                            <li>
                                Рішення про надання допомоги
                            </li>
                            <li>
                                Рішення про відмову у наданні допомоги
                            </li>
                        </ul>
                    </div>
                </div>
    </section>
    <!-- section description 20k poslyga ends -->
    <!-- footer section starts -->
    <div class="footer">
        <section>
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
                <a href="#" class="fab fa-pinterest"></a>
            </div>
            <div class="links">
                <a href="home.html">Головна</a>
                <a href="about.html">Про нас</a>
                <a href="news.html">Новини</a>
                <a href="services.html">Послуги</a>
                <a href="contact.html">Зворотній зв'язок</a>
            </div>
            <div class="credit">created by <span>ivan</span>| all rights reserved</div>
        </section>
    </div>
    <!-- footer section ends -->
    <script src="script/script.js"></script>
</body>
