@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contusia</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    
    <section class="poslyga-desrc">
        <div class="poslyga-desrc">
            <h1 class="poslyga-title">
                Призначення одноразової матеріальної допомоги особам, які отримали поранення
                (контузію, каліцтво) під час безпосередньої участі у заходах, необхідних для забезпечення оборони
                України
            </h1>
            <div class="poslyga-full-descr">
                <p class="ident">
                    <b>
                        Хто має право на отримання послуги на забезпечення спорядженням та технічними засобами мають
                        особи, які:
                    </b>
                    <ul class="appeal">
                        <li>
                            у 2024 році беруть безпосередню участь у бойових діях (діях зі знищення живої сили, бойової
                            техніки і військових споруд противника, заволодіння територією, яку він обіймав, надання
                            протидії наступу противника, відбиття його ударів й утримання захопленої своїми військами
                            території), на момент подання заяви на таку допомогу перебувають на службі, що підтверджується
                            окремим документом;
                        </li>
                        <li>
                            у 2024 році беруть безпосередню участь у забезпеченні здійснення заходів з національної безпеки
                            і оборони України відсічі і стримування збройної агресії російської федерації проти України, на
                            момент подання заяви на таку допомогу перебувають на службі, що підтверджується відповідним
                            документом;
                        </li>
                    </ul>
                </p>
                <p class="ident">
                    <b>Орган, що надає послугу: </b>Структурні підрозділи з питань соціального захисту
                    населення районних, районних у мм. Києві та Севастополі держадміністрацій, виконавчих органів
                    міських, районних у містах (у разі їх створення) рад
                </p>
                <p class="ident">
                    <b>Місце подання документів та отримання результату: </b>Центр надання адміністративних
                    послуг
                </p>
                <h1 class="title-list">
                    Перелік необхідних документів, вимоги до них та спосіб подання
                </h1>
                <div class="list">
                    <ol>
                        <li>
                            Заява встановленого взірця.
                        </li>
                        <li>
                            Копія паспорта особи, яка бере участь у забезпеченні здійснення заходів з національної
                            безпеки і оборони України.
                        </li>
                        <li>Копія реєстраційного номера облікової картки платника податків.</li>
                        <li>
                            Копія дійсної довідки внутрішньо переміщеної особи, яка видана Івано-Франківською міською
                            територіальною громадою (подають внутрішньо переміщені особи) про реєстрацію на території
                            громади.
                        </li>
                        <li>
                            Копія витягу з реєстру територіальної громади про реєстрацію місця проживання особи на
                            території громади.
                        </li>
                        <li>
                            Довідка (або її читабельна копія), про проходження у 2024 році військової служби у
                            військовій частині (Форма-5), що підтверджує дійсне перебування на службі особи у 2024 році.
                        </li>
                        <li>Реквізити рахунку особи, яка бере безпосередню участь</li>
                    </ol>
                </div>
                <h1 class="title-list">
                    Перелік нормативно-правових документів, що регулюють надання послуги
                </h1>
                <p class="ident">
                    Послуга надається відповідно до Закону України «Про затвердження Указу Президента
                    України «Про введення воєнного стану в Україні», Закону України «Про правовий режим воєнного стану»,
                    Закону України «Про оборону України», Закону України «Про мобілізаційну підготовку та мобілізацію»,
                    Закону України «Про військовий обов’язок і військову службу», постанови Кабінету Міністрів України
                    від 11 березня 2022 року №252 «Деякі питання формування та виконання місцевих бюджетів у період
                    воєнного стану», розпорядження Кабінету Міністрів України від 24.02.2022 року №181-р «Питання
                    запровадження та забезпечення здійснення заходів правового режиму воєнного стану в Україні», рішень
                    органів місцевого самоврядування.
                </p>
                <h1 class="title-list">
                    Документи, які отримує особа за результатами розгляду справи
                </h1>
                <div class="list">
                    <p class="ident">Рішення органу місцевого самоврядування (у випадку передбачення даної послуги)</p>
                </div>
            </div>
    </section>
    <!-- section description scholarship poslyga ends -->
    <!-- footer section starts -->
    <div class="footer">
        <section>
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
                <a href="#" class="fab fa-pinterest"></a>
            </div>
            <div class="links">
                <a href="home.html">Головна</a>
                <a href="about.html">Про нас</a>
                <a href="news.html">Новини</a>
                <a href="services.html">Послуги</a>
                <a href="contact.html">Зворотній зв'язок</a>
            </div>
            <div class="credit">created by <span>ivan</span>| all rights reserved</div>
        </section>
    </div>
    <!-- footer section ends -->
    <script src="script/script.js"></script>
</body>

