
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>

   
<!-- header section ends -->

<!-- home section starts -->
<div class="home-container">
    <section class="home" id="home">
        <div class="content">
            <h3>Скористайтесь нашими послугами онлайн</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur dolores odio possimus repellat, eius quaerat, cum sint aut voluptates placeat dignissimos enim veritatis consequuntur minima tenetur ipsam? Odit, in fugit?</p>
            <a href="#category" class="btn">Перейти до категорій</a>
        </div>
    </section>
</div>
<!-- home section ends -->

<!-- category section starts -->
<sectoin class="category" id="name">
    <h1 class="heading">Категорії осіб</h1>
</sectoin>

<!-- military-category-section-starts -->
<div class="about-military">
    <section>
    <h1 class="heading-military">
        <i id="category" class="fas fa-person-military-rifle"></i>
        <span>Військовослужбовці</span>
    </h1>
    <div class="row-military">
        <div class="image-military">
            <img src="~/images/military.jpeg" alt="">
        </div>
        <div class="content-military">
            <h3>what makes special?</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque, cum deserunt! Molestias fugiat veniam, numquam tempore quaerat laboriosam quibusdam iste a nobis recusandae suscipit dolores odio ex! Quae, in pariatur?</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas suscipit qui, in odio quisquam labore blanditiis cupiditate deserunt itaque commodi fugit iste deleniti. Hic, voluptate. Consequuntur, aspernatur asperiores. Tempora, vitae!</p>
            <a href="#" class="btn">Перелік документів</a>
        </div>
    </div>
</section>
</div>
<!-- military-category-section-ends -->

<!-- immigrants-category-section-starts -->
<div class="about-immigrants">
    <section>
    <h1 class="heading-immigrants">
        <i class="fa-solid fa-people-roof"></i>
        <span>Внутрішньо переміщені особи</span>
    </h1>
    <div class="row-immigrants">
        <div class="content-immigrants">
            <h3>what makes special?</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque, cum deserunt! Molestias fugiat veniam, numquam tempore quaerat laboriosam quibusdam iste a nobis recusandae suscipit dolores odio ex! Quae, in pariatur?</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas suscipit qui, in odio quisquam labore blanditiis cupiditate deserunt itaque commodi fugit iste deleniti. Hic, voluptate. Consequuntur, aspernatur asperiores. Tempora, vitae!</p>
            <a href="#" class="btn">Перелік документів</a>
        </div>
        <div class="image-immigrants">
            <img src="~/images/immigrants.jpeg" alt="">
        </div>
    </div>
</section>
</div>
<!--immigrants-category-section-ends-->

<!-- family-category-section-starts -->
<div class="about-family">
    <section>
    <h1 class="heading-family">
        <i class="fas fa-people-group"></i>
        <span>Сім`ї Військовослужбовців</span>
    </h1>
    <div class="row-family">
        <div class="content-family">
            <h3>what makes special?</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque, cum deserunt! Molestias fugiat veniam, numquam tempore quaerat laboriosam quibusdam iste a nobis recusandae suscipit dolores odio ex! Quae, in pariatur?</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas suscipit qui, in odio quisquam labore blanditiis cupiditate deserunt itaque commodi fugit iste deleniti. Hic, voluptate. Consequuntur, aspernatur asperiores. Tempora, vitae!</p>
            <a href="#" class="btn">Перелік документів</a>
        </div>
        <div class="image-family">
            <img src="~/images/family.jpeg" alt="">
        </div>
    </div>
</section>
</div>
<!--family-category-section-ends-->

<!-- category section ends -->



<div class="jobs-container">
    <section>
        <h1 class="heading">Наша команда</h1>
    <div class="box-container">
        <div class="box">
            <div class="company">
                <img src="~/images/icon1.jpeg" alt="">
                <div>
                    <h3>Доктор юридичних наук, <br>професор</h3>
                    <a href="tel:+380987034130"><p>+380987034130</p></a>
                </div>
            </div>
            <h3 class="job-title">Кравчук Мар`яна <br>Юріївна</h3>
            <a href="https://maps.app.goo.gl/Nu1BGjjQKsWJ5C6y9"><p class="location"><i class="fas fa-map-marker-alt"></i>
            <span>вулиця Костя Левицького, 20, &nbsp&nbsp&nbsp&nbspЛьвів, Львівська область, 79000
            </span></p></a>
            <div class="tags">
                <p><i class="fas fa-clock"></i><span>12:00 - 18:00</span></p>
            </div>
            <div class="flex-btn">
                <a href="mailto:ivantarabanovych@gmail.com" class="btn">Написати</a>
                <button type="submit" class="far fa-heart" name="save"></button>
            </div>
        </div>
        <div class="box">
            <div class="company">
                <img src="~/images/icon2.jpeg" alt="">
                <div>
                    <h3>Кандидат юридичних<br> наук, доцент</h3>
                    <a href="tel:+380667647402"><p>+380667647402</p></a>
                </div>
            </div>
            <h3 class="job-title">Шевчук Оксана <br> Романівна</h3>
            <a href="https://maps.app.goo.gl/diw3VCXgWPR3RbBM7"><p class="location"><i class="fas fa-map-marker-alt"></i>
            <span>Тернопіль, вул. Соломії &nbsp&nbsp&nbsp&nbspКрушельницької, 55</span></p></a>
            <div class="tags">
                <p><i class="fas fa-clock"></i><span>9:00 - 17:00</span></p>
            </div>
            <div class="flex-btn">
                <a href="mailto:ivantarabanovych@gmail.com" class="btn">Написати</a>
                <button type="submit" class="far fa-heart" name="save"></button>
            </div>
        </div>
        <div class="box">
            <div class="company">
                <img src="~/images/icon3.jpeg" alt="">
                <div>
                    <h3>Кандидат юридичних<br> наук, доцент</h3>
                    <a href="tel:+380972186807"><p>+380972186807</p></a>
                </div>
            </div>
            <h3 class="job-title">Ментух Наталія Філікіссімівна</h3>
            <a href="https://maps.app.goo.gl/cSHhNbmMJs5GJLBe7"><p class="location"><i class="fas fa-map-marker-alt"></i>
            <span>вулиця Петриківська, 18, &nbsp&nbsp&nbsp&nbspТернопіль, 46002</span></p></a>
            <div class="tags">
                <p><i class="fas fa-clock"></i><span>10:00 - 20:00</span></p>
            </div>
            <div class="flex-btn">
                <a href="mailto:ivantarabanovych@gmail.com" class="btn">Написати</a>
                <button type="submit" class="far fa-heart" name="save"></button>
            </div>
        </div>
    </div>
</section>
</div>

<!-- category person ends -->

    <!-- footer section starts -->
    <div class="footer">
        <section>
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
                <a href="#" class="fab fa-pinterest"></a>
            </div>
            <div class="links">
                <a href="home.html">Головна</a>
                <a href="about.html">Про нас</a>
                <a href="news.html">Новини</a>
                <a href="services.html">Послуги</a>
                <a href="contact.html">Зворотній зв'язок</a>
            </div>
            <div class="credit">created by <span>ivan</span>| all rights reserved</div>
        </section>
    </div>
    <!-- footer section ends -->
<script src="script/script.js"></script>
</body>
</html>