@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pilhu</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>

<body>
    
    <!-- header section ends -->
    <!-- section description 20k poslyga starts -->
    <section class="poslyga-desrc">
        <div class="poslyga-desrc">
            <h1 class="poslyga-title">
                Надання пільг на оплату комунальних послуг для учасників бойових дій та їх сімей з
                Тернопільського міського бюджету
            </h1>
            <div class="poslyga-full-descr">
                <p class="ident">
                    Надання адресної грошової допомоги для часткової компенсації витрат на оплату житлово-комунальних
                    послуг членам сімей загиблих захисників (захисниць) України з коштів місцевого бюджету
                </p>
                <p class="ident">
                    <b>Хто має право на отримання послуги:</b>
                    члени сімей загиблих захисників (захисниць) України.
                    Відповідно до ст. 10-1 Закону України «Про статус ветеранів війни, гарантії їх соціального захисту»
                    до сімей загиблих (померлих) Захисників і Захисниць України належать:
                </p>
                <div class="list">
                    <ol>
                        <li>
                            сім’ї осіб рядового і начальницького складу органів внутрішніх справ України, поліцейських,
                            які загинули або померли внаслідок поранення, контузії, каліцтва або захворювання, одержаних
                            під час участі в антитерористичній операції, захищаючи незалежність, суверенітет та
                            територіальну цілісність України;
                        </li>
                        <li>
                            сім’ї осіб, які добровільно забезпечували (або добровільно залучалися до забезпечення)
                            проведення антитерористичної операції, здійснення заходів із забезпечення національної
                            безпеки і оборони, відсічі і стримування збройної агресії Російської Федерації у Донецькій
                            та Луганській областях, заходів, необхідних для забезпечення оборони України, захисту
                            безпеки населення та інтересів держави у зв’язку з військовою агресією Російської Федерації
                            проти України (у тому числі здійснювали волонтерську діяльність), та загинули (пропали
                            безвісти), померли внаслідок поранення, контузії, каліцтва або захворювання, одержаних під
                            час забезпечення проведення антитерористичної операції, перебуваючи безпосередньо в районах
                            та у період її проведення, під час забезпечення здійснення заходів із забезпечення
                            національної безпеки і оборони, відсічі і стримування збройної агресії Російської Федерації
                            у Донецькій та Луганській областях, під час безпосередньої участі у заходах, необхідних для
                            забезпечення оборони України, захисту безпеки населення та інтересів держави у зв’язку з
                            військовою агресією Російської Федерації проти України (у тому числі здійснення
                            волонтерської діяльності), перебуваючи безпосередньо в районах та у період здійснення
                            зазначених заходів;
                        </li>
                        <li>
                            сім’ї осіб, які, перебуваючи у складі добровольчих формувань, що були утворені або
                            самоорганізувалися для захисту незалежності, суверенітету та територіальної цілісності
                            України, загинули (пропали безвісти), померли внаслідок поранення, контузії, каліцтва або
                            захворювання, одержаних під час безпосередньої участі в антитерористичній операції,
                            забезпеченні її проведення, перебуваючи безпосередньо в районах антитерористичної операції у
                            період її проведення, за умови що в подальшому такі добровольчі формування були включені до
                            складу Збройних Сил України, Міністерства внутрішніх справ України, Національної гвардії
                            України та інших утворених відповідно до законів України військових формувань та
                            правоохоронних органів;
                        </li>
                        <li>
                            сім’ї осіб, які, перебуваючи у складі добровольчих формувань, що були утворені або
                            самоорганізувалися для захисту незалежності, суверенітету, територіальної цілісності
                            України, але в подальшому такі добровольчі формування не були включені до складу Збройних
                            Сил України, Міністерства внутрішніх справ України, Національної гвардії України та інших
                            утворених відповідно до законів України військових формувань та правоохоронних органів,
                            загинули (пропали безвісти) або померли внаслідок поранення, контузії, каліцтва або
                            захворювання, одержаних під час виконання такими добровольчими формуваннями завдань
                            антитерористичної операції у взаємодії із Збройними Силами України, Міністерством внутрішніх
                            справ України, Національною гвардією України та іншими утвореними відповідно до законів
                            України військовими формуваннями та правоохоронними органами, перебуваючи безпосередньо в
                            районах антитерористичної операції у період її проведення;
                        </li>
                        <li>
                            сім’ї військовослужбовців (резервістів, військовозобов’язаних, добровольців Сил
                            територіальної оборони) Збройних Сил України, Національної гвардії України, Служби безпеки
                            України, Служби зовнішньої розвідки України, Державної прикордонної служби України,
                            Державної спеціальної служби транспорту, військовослужбовців військових прокуратур, осіб
                            рядового та начальницького складу підрозділів оперативного забезпечення зон проведення
                            антитерористичної операції центрального органу виконавчої влади, що реалізує державну
                            податкову політику, державну політику у сфері державної митної справи, поліцейських, осіб
                            рядового, начальницького складу, військовослужбовців Міністерства внутрішніх справ України,
                            Управління державної охорони України, Державної служби спеціального зв’язку та захисту
                            інформації України, Державної служби України з надзвичайних ситуацій, Державної
                            пенітенціарної служби України, особи, які входили до складу добровольчого формування
                            територіальної громади, інших утворених відповідно до законів України військових формувань,
                            які захищали незалежність, суверенітет та територіальну цілісність України і брали
                            безпосередню участь в антитерористичній операції, забезпеченні її проведення, перебуваючи
                            безпосередньо в районах антитерористичної операції у період її проведення, у здійсненні
                            заходів із забезпечення національної безпеки і оборони, відсічі і стримування збройної
                            агресії Російської Федерації у Донецькій та Луганській областях, забезпеченні їх здійснення,
                            перебуваючи безпосередньо в районах та у період здійснення зазначених заходів, у заходах,
                            необхідних для забезпечення оборони України, захисту безпеки населення та інтересів держави
                            у зв’язку з військовою агресією Російської Федерації проти України та загинули (пропали
                            безвісти), померли внаслідок поранення, контузії, каліцтва або захворювання, одержаних під
                            час безпосередньої участі в антитерористичній операції, забезпеченні її проведення,
                            перебуваючи безпосередньо в районах антитерористичної операції у період її проведення, під
                            час безпосередньої участі у здійсненні заходів із забезпечення національної безпеки і
                            оборони, відсічі і стримування збройної агресії Російської Федерації у Донецькій та
                            Луганській областях, у забезпеченні їх здійснення, перебуваючи безпосередньо в районах та у
                            період здійснення зазначених заходів, під час безпосередньої участі у заходах, необхідних
                            для забезпечення оборони України, захисту безпеки населення та інтересів держави у зв’язку з
                            військовою агресією Російської Федерації проти України, а також сім’ї працівників
                            підприємств, установ, організацій, які залучалися до забезпечення проведення
                            антитерористичної операції, забезпечення здійснення заходів із забезпечення національної
                            безпеки і оборони, відсічі і стримування збройної агресії Російської Федерації у Донецькій
                            та Луганській областях, до здійснення заходів, необхідних для забезпечення оборони України,
                            захисту безпеки населення та інтересів держави у зв’язку з військовою агресією Російської
                            Федерації проти України, та загинули (пропали безвісти), померли внаслідок поранення,
                            контузії, каліцтва або захворювання, одержаних під час забезпечення проведення
                            антитерористичної операції безпосередньо в районах та у період її проведення, забезпечення
                            здійснення заходів із забезпечення національної безпеки і оборони, відсічі і стримування
                            збройної агресії Російської Федерації у Донецькій та Луганській областях, здійснення
                            заходів, необхідних для забезпечення оборони України, захисту безпеки населення та інтересів
                            держави у зв’язку з військовою агресією Російської Федерації проти України, перебуваючи
                            безпосередньо в районах та у період здійснення зазначених заходів;
                        </li>
                        <li>
                            сім’ї осіб, які загинули (пропали безвісти), померли внаслідок поранення, контузії, каліцтва
                            або захворювання, одержаних під час безпосередньої участі у заходах, необхідних для
                            забезпечення оборони України, захисту безпеки населення та інтересів держави у зв’язку з
                            військовою агресією російської федерації проти України.
                        </li>
                    </ol>
                </div>
                <p class="ident">
                    Порядок надання статусу члена сім’ї загиблого (померлого) Захисника чи Захисниці
                    України визначається Кабінетом Міністрів України.
                    Відповідно до Положення про порядок надання грошової допомоги, затвердженого Виконкомом
                    Тернопільської міської ради 23.12.2022, адресна грошова допомога для часткової компенсації витрат на
                    оплату житлово-комунальних послуг (далі Адресна грошова допомога) надається:
                </p>
                <div class="list">
                    <ul class="appeal">
                        <li>
                            членам сімей загиблих (померлих, пропалих безвісти) учасників антитерористичної операції,
                            Захисників і Захисниць України до яких належать:
                        </li>
                        <li>
                            утриманці загиблого або того, хто пропав безвісти, яким у зв’язку з цим виплачується пенсія;
                        </li>
                        <li>
                            батьки;
                        </li>
                        <li>
                            один з подружжя, який не одружився вдруге, незалежно від того, виплачується йому пенсія чи
                            ні; - діти, які не мають (і не мали) своїх сімей;
                        </li>
                        <li>діти, які мають свої сім'ї, але стали особами з інвалідністю до досягнення повноліття;</li>
                        <li>діти, обоє з батьків яких загинули або пропали безвісти. </li>
                        <li>
                            Сім’ям загиблих воїнів-афганців (з врахуванням ухвали сесії Тернопільської міської ради
                            народних депутатів від 27 квітня 1995 року «Про розпорядження голови міської Ради народних
                            депутатів»).
                        </li>
                    </ul>
                </div>
                <p class="ident">
                    Учасникам-добровольцям антитерористичної операції та членам їх сімей до яких належать:
                </p>
                <div class="list">
                    <ul class="appeal">
                        <li>дружина (чоловік);</li>
                        <li>
                            їх неповнолітні діти (до вісімнадцяти років);
                        </li>
                        <li>
                            неодружені повнолітні діти, визнані особами з інвалідністю з дитинства І та ІІ групи або
                            особами з інвалідністю І групи;
                        </li>
                        <li>непрацездатні батьки. </li>
                        <li>
                            Учасникам бойових дій ОУН–УПА, які брали участь у виконанні бойових завдань по захисту
                            України у складі військових та інших підрозділів ОУН– УПА.
                        </li>
                        <li>Дружинам (чоловікам) померлих учасників бойових дій ОУН–УПА. </li>
                        <li>
                            Дружинам (чоловікам) померлих реабілітованих осіб, які не вступили в другий шлюб.
                        </li>
                        <li>
                            Особам, потерпілим від політичних репресій, відповідно до статті 1-3 Закону України «Про
                            реабілітацію жертв репресій комуністичного тоталітарного режиму 1917-1991 років» від 17
                            квітня 1991 року № 962-XII (зі змінами).
                        </li>
                        <li>Особам з інвалідністю І групи.</li>
                        <li>
                            Особам, які одержують державну соціальну допомогу (пенсію) на дитину з інвалідністю до 18
                            років (один з батьків, опікун, піклувальник чи усиновитель) та дітям з інвалідністю до 18
                            років (при умові спільного проживання та реєстрації з одним із батьків, опікуном,
                            піклувальником чи усиновителем).
                        </li>
                    </ul>
                </div>
                <p class="ident">
                    <b>Орган, що надає послугу, місце та порядок подання документів:</b>
                    Для отримання адресної грошової допомоги громадяни повинні звернутись із заявою на ім’я міського
                    голови за адресою: 46001, м. Тернопіль, вул. Листопадова, 6, каб. 12, тел. 06744729 (Тернопільська
                    міська рада)
                </p>
                <div class="list">
                    <ul class="appeal">
                        <li>
                            копія паспорта заявника та членів сім’ї та копія реєстраційного номера облікової картки
                            платника податків (позначка в паспорті, в разі відмови від одержання ідентифікаційного
                            номера);
                        </li>
                        <li>копія свідоцтв про народження неповнолітніх дітей;</li>
                        <li>
                            копія посвідчення або довідка у разі відсутності посвідчення, які надають право на Адресну
                            грошову допомогу;
                        </li>
                        <li>копія медичного висновку про дитину з інвалідністю віком до 18 років;</li>
                        <li>копія сповіщення сім'ї про пропалого (зниклого) безвісти.</li>
                    </ul>
                </div>
                <p class="ident">
                    Громадянам, які отримували пільги по оплаті за житлово-комунальні послуги з місцевого
                    бюджету до 31 грудня 2022 року, з 1 січня 2023 року Адресна грошова допомога виплачується без
                    повторного звернення.
                </p>
                <p class="ident">
                    Розмір Адресної грошової допомоги визначається у відсотках до загального показника
                    прожиткового мінімуму (далі ЗППМ), заокругленого до найближчих 10 гривень окремо на опалювальний (з
                    жовтня по квітень) та неопалювальний (з травня по вересень) період відповідно до категорії
                    одержувачів та кількості 3 членів сім’ї, які мають право на Адресну грошову допомогу, але не більше
                    трьох
                </p>
                <p class="ident">
                    Адресна грошова допомога не надається громадянам, які користуються державними пільгами
                    на оплату житлово-комунальних послуг (за винятком членів сімей загиблих захисників (захисниць)
                    України) та житловими субсидіями для всіх інших категорій осіб.
                </p>
                <p class="ident">
                    Адресна грошова допомога не надається при наявності простроченої понад три місяці
                    заборгованості з оплати житлово-комунальних послуг, 4 загальна сума якої перевищує 40
                    неоподатковуваних мінімумів доходів громадян на день звернення та при отриманні такої інформації від
                    надавачів житлово-комунальних послуг, за винятком членів сімей загиблих захисників (захисниць)
                    України.
                </p>
                <p class="ident">
                    Поновлення виплати Адресної грошової допомоги здійснюється з місяця погашення
                    заборгованості або з місяця підписання договорів реструктуризації з організаціями – надавачами
                    житлово-комунальних послуг.
                </p>
                <h1 class="title-list">Перелік нормативно-правових актів, що регулюють надання послуги:</h1>
                <div class="list">
                    <ol>
                        <li>Закон України «Про статус ветеранів війни, гарантії їх соціального захисту»</li>
                        <li>
                            Положення про порядок надання грошової допомоги, затвердженого Виконкомом Тернопільської
                            міської
                            ради 23.12.2022.
                        </li>
                    </ol>
                </div>
                <h1 class="title-list">Документи, які отримує особа за результатами розгляду справи</h1>
                <div class="list">
                    <ol>
                        <li>Термін розгляду звернення – 30 календарних днів</li>
                        <li>
                            Сума Адресної грошової допомоги затверджуються наказом директора Тернопільського міського
                            територіального центру соціального обслуговування населення (надання соціальних послуг). Зі
                            зміною ЗППМ сума Адресної грошової допомоги перераховується автоматично.
                        </li>
                    </ol>
                </div>

            </div>
        </div>
    </section>
    <!-- section description 20k poslyga ends -->
    <!-- footer section starts -->
    <div class="footer">
        <section>
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
                <a href="#" class="fab fa-pinterest"></a>
            </div>
            <div class="links">
                <a href="home.html">Головна</a>
                <a href="about.html">Про нас</a>
                <a href="news.html">Новини</a>
                <a href="services.html">Послуги</a>
                <a href="contact.html">Зворотній зв'язок</a>
            </div>
            <div class="credit">created by <span>ivan</span>| all rights reserved</div>
        </section>
    </div>
    <!-- footer section ends -->
    <script src="script/script.js"></script>
</body>

