@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>30k</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    
    <!-- header section starts -->
    
    <!-- header section ends -->
    <!-- section description 20k poslyga starts -->
    <section class="poslyga-desrc">
        <div class="poslyga-desrc">
            <h1 class="poslyga-title">
                Призначення одноразової матеріальної допомоги на забезпечення спорядженням та технічними засобами у зв’язку з безпосередньою участю у бойових діях (доплата 30 000 грн)
            </h1>
            <div class="poslyga-full-descr">
                <p class="ident">
                    Право на отримання одноразової матеріальної допомоги на забезпечення спорядженням та технічними засобами мають особи, які беруть безпосередню участь у бойових діях (забезпеченні здійснення заходів з національної безпеки і оборони України відсічі і стримування збройної агресії російської федерації проти України).
                </p>
                <p class="ident">
                    Перелік документів:
                </p>
                <div class="list">
                    <ol>
                        <li>
                            Заява встановленого взірця.
                        </li>
                        <li>
                            Копія паспорта особи, яка бере безпосередню участь у бойових діях.
                        </li>
                        <li>
                            Копія дійсної довідки внутрішньо переміщеної особи, (подають внутрішньо переміщені особи) про реєстрацію на території громади.
                        </li>
                        <li>Копія витягу з реєстру територіальної громади про реєстрацію місця проживання особи, яка бере безпосередню участь у бойових діях, на території громади.</li>
                        <li>Копія реєстраційного номера облікової картки платника податків (особи), яка бере безпосередню участь у бойових діях.</li>
                        <li>
                            Довідка (або її читабельна копія) про безпосередню участь особи у 2024 році в бойових діях, передбачена додатком 6 до Порядку, в редакції Постанови Кабінету Міністрів України від 22 серпня 2023 р. № 887.
                        </li>
                        <li>
                            Довідка (або її читабельна копія), що підтверджує дійсне перебування на службі особи, яка у 2024 році бере участь у бойових діях, видана на момент подання документів.
                        </li>
                        <li>Реквізити рахунку особи, яка бере безпосередню участь у бойових діях, відкритого в банку.</li>
                    </ol>
                </div>
                <p class="ident">
                    Для отримання одноразової матеріальної допомоги особи, які беруть безпосередню участь у бойових діях (забезпеченні здійснення заходів з національної безпеки і оборони України відсічі і стримування збройної агресії російської федерації проти України) або повнолітні члени їх сімей звертаються:
                </p>
                <div class="list">
                    <ul class="appeal">
                        <li>
                            до головного офісу Центру надання адміністративних послуг;
                        </li>
                        <li>
                            до територіальних підрозділів ЦНАП;
                        </li>
                        <li>
                            до віддалених робочих місць адміністратора ЦНАП.
                        </li>
                    </ul>
                </div>
            </div>
    </section>
    <!-- section description 20k poslyga ends -->
    <!-- footer section starts -->
    <div class="footer">
        <section>
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
                <a href="#" class="fab fa-pinterest"></a>
            </div>
            <div class="links">
                <a href="home.html">Головна</a>
                <a href="about.html">Про нас</a>
                <a href="news.html">Новини</a>
                <a href="services.html">Послуги</a>
                <a href="contact.html">Зворотній зв'язок</a>
            </div>
            <div class="credit">created by <span>ivan</span>| all rights reserved</div>
        </section>
    </div>
    <!-- footer section ends -->
    <script src="script/script.js"></script>
</body>
