@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poslyga</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
   
    <!-- header section ends -->
    <!-- section description 20k poslyga starts -->
    <section class="poslyga-desrc">
        <div class="poslyga-desrc">
            <h1 class="poslyga-title">
                (20 000) Призначення одноразової матеріальної допомоги на забезпечення
                спорядженням та технічними засобами у зв’язку з безпосередньою участю у бойових діях для подання заяви
                військовослужбовцями
            </h1>
            <div class="poslyga-full-descr">
                <p class="ident">
                    Право на отримання одноразової матеріальної допомоги на забезпечення спорядженням та технічними
                    засобами мають особи, які у 2024 році беруть безпосередню участь у забезпеченні здійснення заходів з
                    національної безпеки і оборони України, відсічі і стримуванні збройної агресії російської федерації
                    проти України, і на момент подання заяви на таку одноразову допомогу перебувають на службі, що
                    підтверджується відповідним документом.
                </p>

                <p class="ident">Послугу надають органи місцевого самоврядування.</p>
                <p class="ident">
                    Для отримання одноразової матеріальної допомоги особи, які беруть безпосередню участь у
                    забезпеченні здійснення заходів з національної безпеки і оборони України, відсічі і стримуванні
                    збройної агресії російської федерації проти України або повнолітні члени їх сімей звертаються до
                    органів місцевого самоврядування (Центру надання адміністративних послуг, управління соціальної
                    політики) за місцем своєї реєстрації. Термін розгляду звернення 1 місяць.
                </p>
                <h1 class="title-list">Перелік необхідних документів, вимоги до них та спосіб подання</h1>
                <div class="list">
                    <ol>
                        <li>Заява встановленого взірця.</li>
                        <li>
                            Копія паспорта особи, яка бере участь у забезпеченні здійснення заходів з національної
                            безпеки і оборони України.
                        </li>
                        <li>Копія реєстраційного номера облікової картки платника податків.</li>
                        <li>
                            Копія дійсної довідки внутрішньо переміщеної особи, яка видана територіальною громадою
                            (подають внутрішньо переміщені особи) про реєстрацію на території громади.
                        </li>
                        <li>
                            Копія витягу з реєстру територіальної громади про реєстрацію місця проживання особи на
                            території громади.
                        </li>
                        <li>
                            Довідка (або її читабельна копія) про проходження у 2024 році військової служби у військовій
                            частині (Форма-5), що підтверджує дійсне перебування на службі особи у 2024 році.
                        </li>
                        <li>
                            Реквізити рахунку особи, яка бере безпосередню участь у забезпеченні здійснення заходів з
                            національної безпеки і оборони України.
                        </li>
                    </ol>
                    <p class="ident">
                        <b>Виплата допомоги здійснюється одноразово. </b>
                        Послуга надається відповідно до Закону України «Про затвердження Указу Президента України «Про
                        введення воєнного стану в Україні», Закону України «Про правовий режим воєнного стану», Закону
                        України «Про оборону України», Закону України «Про мобілізаційну підготовку та мобілізацію»,
                        Закону України «Про військовий обов’язок і військову службу», постанови Кабінету Міністрів
                        України від 11 березня 2022 року №252 «Деякі питання формування та виконання місцевих бюджетів у
                        період воєнного стану», розпорядження Кабінету Міністрів України від 24.02.2022 року №181-р
                        «Питання запровадження та забезпечення здійснення заходів правового режиму воєнного стану в
                        Україні», рішень органів місцевого самоврядування.
                    </p>
                </div>
                <div class="zavantazhuty">
                    <h1 class="poslyga-title">Завантажити приклад заяви встановленого взірця</h1>

                    <div class="pruclad"> <a href="./zayavy/20_000_грн_Призначення_одноразової_матеріальної_допомоги_на_забезпечення.doc" download=""><img src="./images/word.png" alt=""></a></div>
                </div>
            </div>
        </div>
    </section>
    <!-- section description 20k poslyga ends -->
    <!-- footer section starts -->
    <div class="footer">
        <section>
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
                <a href="#" class="fab fa-pinterest"></a>
            </div>
            <div class="links">
                <a href="home.html">Головна</a>
                <a href="about.html">Про нас</a>
                <a href="news.html">Новини</a>
                <a href="services.html">Послуги</a>
                <a href="contact.html">Зворотній зв'язок</a>
            </div>
            <div class="credit">created by <span>ivan</span>| all rights reserved</div>
        </section>
    </div>
    <!-- footer section ends -->
    <script src="script/script.js"></script>
</body>
