@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>50k</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    
    <!-- header section starts -->
    
    <!-- header section ends -->
    <!-- section description child was born poslyga starts -->
    <section class="poslyga-desrc">
        <div class="poslyga-desrc">
            <h1 class="poslyga-title">
                (50 000 грн) Призначення одноразової матеріальної допомоги на забезпечення
                спорядженням та технічними засобами у зв'язку з безпосередньою участю у бойових діях для подання заяви
                при участі у бойових діях
            </h1>
            <div class="poslyga-full-descr">
                <p class="ident">
                    <b>
                        Право на отримання одноразової матеріальної допомоги на забезпечення спорядженням та технічними
                        засобами мають особи, які:
                    </b>
                    у 2024 році беруть безпосередню участь у бойових діях (діях зі знищення живої сили, бойової техніки
                    і військових споруд противника, заволодіння територією, яку він обіймав, надання протидії наступу
                    противника, відбиття його ударів й утримання захопленої своїми військами території), на момент
                    подання заяви на таку допомогу перебувають на службі, що підтверджується окремим документом;
                    у 2024 році беруть безпосередню участь у забезпеченні здійснення заходів з національної безпеки і
                    оборони України відсічі і стримування збройної агресії російської федерації проти України, на момент
                    подання заяви на таку допомогу перебувають на службі, що підтверджується відповідним документом;
                </p>

                <p class="ident">
                    <b>Орган, що надає послугу: </b>Структурні підрозділи з питань соціального захисту
                    населення районних, районних у мм. Києві та Севастополі держадміністрацій, виконавчих органів
                    міських, районних у містах (у разі їх створення) рад
                </p>
                <p class="ident">
                    <b>Місце подання документів та отримання результату: </b>Центр надання адміністративних
                    послуг
                </p>
                <h1 class="title-list">
                    Перелік необхідних документів, вимоги до них та спосіб подання
                </h1>
                <div class="list">
                    <p class="ident">Для оформлення одноразової допомоги заявник разом з заявою подає:</p>
                    <ol>
                        <li>паспорт одного з батьків чи документ, який посвідчує особу;</li>
                        <li>код ІПН; </li>
                        <li>довідка про реєстрацію місця проживання (якщо у вас ID-картка);</li>
                        <li>
                            довідка про перебування на обліку з приводу вагітності в закладах охорони здоров`я, які
                            розташовані на території Тернопільської міської громади;
                        </li>
                        <li>
                            витяг з реєстру територіальної громади про реєстрацію місця проживання особи (не менше, ніж
                            за 6 місяців до дня народження дитини);
                        </li>
                        <li>свідоцтво про народження дитини;</li>
                        <li>
                            копія документа про безпосередню участь батька/матері новонародженої дитини у бойових діях
                            (при наявності);
                        </li>
                        <li>реквізити рахунку (матері дитини), відкритого в установі банку</li>
                    </ol>
                </div>
                <p class="ident">
                    <b>Перелік нормативно-правових документів, що регулюють надання послуги: </b>Послуга
                    надається відповідно до Закону України «Про затвердження Указу Президента України «Про введення
                    воєнного стану в Україні», Закону України «Про правовий режим воєнного стану», Закону України «Про
                    оборону України», Закону України «Про мобілізаційну підготовку та мобілізацію», Закону України «Про
                    військовий обов’язок і військову службу», постанови Кабінету Міністрів України від 11 березня 2022
                    року №252 «Деякі питання формування та виконання місцевих бюджетів у період воєнного стану»,
                    розпорядження Кабінету Міністрів України від 24.02.2022 року №181-р «Питання запровадження та
                    забезпечення здійснення заходів правового режиму воєнного стану в Україні», рішень органів місцевого
                    самоврядування.
                </p>
                <p class="ident">
                    <b>
                        Документи, які отримує особа за результатами розгляду справи
                        :
                    </b>Рішення органу місцевого самоврядування (у випадку передбачення даної послуги)
                </p>
            </div>
        </div>
    </section>
    <div class="footer">
        <section>
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
                <a href="#" class="fab fa-pinterest"></a>
            </div>
            <div class="links">
                <a href="home.html">Головна</a>
                <a href="about.html">Про нас</a>
                <a href="news.html">Новини</a>
                <a href="services.html">Послуги</a>
                <a href="contact.html">Зворотній зв'язок</a>
            </div>
            <div class="credit">created by <span>ivan</span>| all rights reserved</div>
        </section>
    </div>
    <script src="script/script.js"></script>
</body>