@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reabilitation</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>

<body>
    
    <!-- header section ends -->
    <!-- section description 20k poslyga starts -->
    <section class="poslyga-desrc">
        <div class="poslyga-desrc">
            <h1 class="poslyga-title">
                Надання одноразової матеріальної допомоги Захисникам і Захисницям України для
                відновлення та реабілітації
            </h1>
            <div class="poslyga-full-descr">
                <p class="ident">
                    Допомога для відновлення та реабілітації надається особам, які з 24.02.2022 року беруть (брали)
                    участь у заходах, необхідних для забезпечення оборони України, захисту безпеки населення та
                    інтересів держави у зв’язку з військовою агресією російської федерації проти України.
                </p>
                <p class="ident">
                    Перелік документів:
                </p>
                <div class="list">
                    <ol>
                        <li>
                            Заява.
                        </li>
                        <li>
                            Копія паспорта громадянина України, який належить Захиснику/Захисниці.
                        </li>
                        <li>
                            Копія реєстраційного номера облікової картки платника податків Захисника/Захисниці України.
                        </li>
                        <li>
                            Витяг з реєстру територіальної громади про реєстрацію місця проживання Захисника/Захисниці
                            України на території відповідної міської територіальної громади.
                        </li>
                        <li>
                            Довідка внутрішньо переміщеної особи Захисника/Захисниці України, яка зареєстрована згідно
                            Єдиної інформаційної бази даних про внутрішньо переміщених осіб у населених пунктах
                            відповідної міської територіальної громади (для ВПО).
                        </li>
                        <li>
                            Копія довідки МСЕК і посвідчення особи з інвалідністю внаслідок війни (при наявності).
                        </li>
                        <li>
                            Копія посвідчення учасника бойових дій (при наявності).
                        </li>
                        <li>
                            Копія документа про безпосередню участь у бойових діях, видана військовою частиною
                            Міністерства оборони України, Міністерством внутрішніх справ України, Національною поліцією,
                            Національною гвардією України та ін..
                        </li>
                        <li>
                            Витяг з наказу про призначення на посаду (будь-яку) у військовій частині, яка розміщена на
                            території відповідної міської територіальної громади (при наявності).
                        </li>
                        <li>
                            Консультативний висновок лікуючого або сімейного лікаря про потребу в реабілітаційному
                            лікуванні, виданий не пізніше, ніж за 90 днів до подання заяви; або направлення на
                            психологічну реабілітацію, видане КЗ Дім воїна за формою, затвердженою департаментом.
                        </li>
                        <li>Реквізити рахунку Захисниці/Захисника України, відкритого в установі банку.</li>
                    </ol>
                </div>
                <p class="ident">
                    Для отримання одноразової матеріальної допомоги для відновлення та реабілітації особи, які беруть безпосередню участь у заходах, необхідних для забезпечення оборони України або уповноважений представник звертаються:
                </p>
                <div class="list">
                    <ul class="appeal">
                        <li>
                            до головного офісу Центру надання адміністративних послуг;
                        </li>
                        <li>
                            до територіальних підрозділів ЦНАП;
                        </li>
                        <li>
                            до віддалених робочих місць адміністратора ЦНАП.
                        </li>
                    </ul>
                </div>
            </div>
    </section>
    <!-- section description 20k poslyga ends -->
    <!-- footer section starts -->
    <div class="footer">
        <section>
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
                <a href="#" class="fab fa-pinterest"></a>
            </div>
            <div class="links">
                <a href="home.html">Головна</a>
                <a href="about.html">Про нас</a>
                <a href="news.html">Новини</a>
                <a href="services.html">Послуги</a>
                <a href="contact.html">Зворотній зв'язок</a>
            </div>
            <div class="credit">created by <span>ivan</span>| all rights reserved</div>
        </section>
    </div>
    <!-- footer section ends -->
    <script src="script/script.js"></script>
</body>

