@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poslyga</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
  
    <!-- header section ends -->
    <!-- services section starts -->
    <div class="service">
        <section>
            <div class="service-title-menu">
                <h1>Перелік послуг</h1>
            </div>

            <h2 class="category-service-title">Військовослужбовцям  &#8595</h2>
            <div class="service_btn">
                <div class="content">
                    <a asp-controller="Home" asp-action="poslyga50" class="poslyga_link"><h3 class="poslyga_title">(50 000 грн) Призначення одноразової матеріальної допомоги на забезпечення спорядженням та технічними засобами у зв'язку з безпосередньою участю у бойових діях для подання заяви при участі у бойових діях</h3></a>
                    <i class="arrow right"></i>
                </div>
            </div>
            <div class="service_btn">
                <div class="content">
                    <a asp-controller="Home" asp-action="posluga30k" class="poslyga_link"><h3 class="poslyga_title">Призначення одноразової матеріальної допомоги на забезпечення спорядженням та технічними засобами у зв’язку з безпосередньою участю у бойових діях (доплата 30 000 грн)</h3></a>
                    <i class="arrow right"></i>
                </div>
            </div>
            <div class="service_btn">
                <div class="content">
                    <a asp-controller="Home" asp-action="posluga20000" class="poslyga_link"><h3 class="poslyga_title">(20 000 грн) Призначення одноразової матеріальної допомоги на забезпечення спорядженням та технічними засобами у зв'язку з безпосередньою участю у бойових діях для подання заяви військовослужбовцями</h3></a>
                    <i class="arrow right"></i>
                </div>
            </div>
            <div class="service_btn">
                <div class="content">
                    <a asp-controller="Home" asp-action="ODM" class="poslyga_link"><h3 class="poslyga_title">Надання одноразової матеріальної допомоги у зв'язку із народженням дитини (для військовослужбовців)</h3></a>
                    <i class="arrow right"></i>
                </div>
            </div>
            <div class="service_btn">
                <div class="content">
                    <a asp-controller="Home" asp-action="18years" class="poslyga_link"><h3 class="poslyga_title">Призначення одноразової матеріальної допомоги одному з батьків, з нагоди дня народженя дітей до 18 років (включно), батьки яких призвані на військову службу або беруть участь у заходах, необхідних для забезпечення оборони України</h3></a>
                    <i class="arrow right"></i>
                </div>
            </div>
            <div class="service_btn">
                <div class="content">
                    <a asp-controller="Home" asp-action="contusia" class="poslyga_link"><h3 class="poslyga_title">Призначення одноразової матеріальної допомоги особам, які отримали поранення (контузію, каліцтво) під час безпосередньої участі у заходах, необхідних для забезпечення оборони України</h3></a>
                    <i class="arrow right"></i>
                </div>
            </div>
            <div class="service_btn">
                <div class="content">
                    <a asp-controller="Home" asp-action="withouttubd" class="poslyga_link"><h3 class="poslyga_title">Надання одноразової матеріальної допомоги на оплату комунальних послуг військовим, які не мають статусу УБД</h3></a>
                    <i class="arrow right"></i>
                </div>
            </div>
            <div class="service_btn">
                <div class="content">
                    <a asp-controller="Home" asp-action="pilhu" class="poslyga_link"><h3 class="poslyga_title">Надання на оплату комунальних послуг для учасників бойових дій та їх сімей з міського бюджету</h3></a>
                    <i class="arrow right"></i>
                </div>
            </div>
            <div class="service_btn_last">
                <div class="content">
                    <a asp-controller="Home" asp-action="reabilitation" class="poslyga_link"><h3 class="poslyga_title">Надання одноразової матеріальної допомоги Захисникам і Захисницям України для відновлення та реабілітації</h3></a>
                    <i class="arrow right"></i>
                </div>
            </div>

            <h2 class="category-service-title">Сім`ям військовослужбовців  &#8595</h2>
            <div class="service_btn">
                <div class="content">
                    <a href="ohd.html" class="poslyga_link"><h3 class="poslyga_title">Призначення одноразової грошової допомоги ("ОГД") сім'ям загиблих військових у розмірі 15 млн гривень.</h3></a>
                    <i class="arrow right"></i>
                </div>
            </div>
            <div class="service_btn">
                <div class="content">
                    <a href="50.html" class="poslyga_link"><h3 class="poslyga_title">Призначення 50% знижки по платі за користування комунальними послугами (газом, електроенергією та іншими послугами) та скрапленим балонним газом</h3></a>
                    <i class="arrow right"></i>
                </div>
            </div>
            <div class="service_btn">
                <div class="content">
                    <a href="koncurs.html" class="poslyga_link"><h3 class="poslyga_title">Вступ поза конкурсом до державних та комунальних закладів вищої та фахової передвищої освіти на спеціальності, підготовка за якими здійснюється за рахунок коштів відповідно державного та місцевих бюджетів.</h3></a>
                    <i class="arrow right"></i>
                </div>
            </div>
            <div class="service_btn_last">
                <div class="content">
                    <a href="pensia.html" class="poslyga_link"><h3 class="poslyga_title">Призначення пенсії по втраті годувальника</h3></a>
                    <i class="arrow right"></i>
                </div>
            </div>
            <h2 class="category-service-title">Внутрішньо переміщеним особам  &#8595</h2>
            <div class="service_btn">
                <div class="content">
                    <a href="oformlenyadovidka.html" class="poslyga_link"><h3 class="poslyga_title">Оформлення і видача довідки про взяття на облік внутрішньо переміщеної особи</h3></a>
                    <i class="arrow right"></i>
                </div>
            </div>
            <div class="service_btn">
                <div class="content">
                    <a href="subsudia.html" class="poslyga_link"><h3 class="poslyga_title">Надання субсидій для відшкодування витрат на оплату житлово-комунальних послуг, придбання скрапленого газу, твердого та рідкого пічного побутового палива</h3></a>
                    <i class="arrow right"></i>
                </div>
            </div>
            <div class="service_btn">
                <div class="content">
                    <a href="house.html" class="poslyga_link"><h3 class="poslyga_title">Призначення грошової компенсації за належні для отримання жилі приміщення</h3></a>
                    <i class="arrow right"></i>
                </div>
            </div>
            <div class="service_btn">
                <div class="content">
                    <a href="scholarship.html" class="poslyga_link"><h3 class="poslyga_title">Підготовка документів для виплати соціальних стипендій студентам (курсантам) вищих навчальних закладів</h3></a>
                    <i class="arrow right"></i>
                </div>
            </div>
            <div class="service_btn_last">
                <div class="content">
                    <a href="credits.html" class="poslyga_link"><h3 class="poslyga_title">Надання пільгових кредитів внутрішньо переміщеним особам</h3></a>
                    <i class="arrow right"></i>
                </div>
            </div>
        </section>
    </div>
    <script src="script/script.js"></script>
</body>
