@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>withoutubd</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    
    <!-- header section ends -->
    <!-- section description scholarship poslyga starts -->
    <section class="poslyga-desrc">
        <div class="poslyga-desrc">
            <h1 class="poslyga-title">
                Надання одноразової матеріальної допомоги на оплату комунальних послуг військовим,
                які не мають статусу УБД
            </h1>
            <div class="poslyga-full-descr">
                <p class="ident">
                    <b>
                        Хто має право на отримання послуги на забезпечення спорядженням та технічними засобами мають
                        особи, які:
                    </b>
                    <ul class="appeal">
                        <li>
                            у 2024 році беруть безпосередню участь у бойових діях (діях зі знищення живої сили, бойової
                            техніки і військових споруд противника, заволодіння територією, яку він обіймав, надання
                            протидії наступу противника, відбиття його ударів й утримання захопленої своїми військами
                            території), на момент подання заяви на таку допомогу перебувають на службі, що підтверджується
                            окремим документом;
                        </li>
                        <li>
                            у 2024 році беруть безпосередню участь у забезпеченні здійснення заходів з національної безпеки
                            і оборони України відсічі і стримування збройної агресії російської федерації проти України, на
                            момент подання заяви на таку допомогу перебувають на службі, що підтверджується відповідним
                            документом;
                        </li>
                    </ul>
                </p>
                <p class="ident">
                    <b>Орган, що надає послугу: </b>Структурні підрозділи з питань соціального захисту
                    населення районних, районних у мм. Києві та Севастополі держадміністрацій, виконавчих органів
                    міських, районних у містах (у разі їх створення) рад
                </p>
                <p class="ident">
                    <b>Місце подання документів та отримання результату: </b>Центр надання адміністративних
                    послуг
                </p>
                <h1 class="title-list">
                    Перелік необхідних документів, вимоги до них та спосіб подання
                </h1>
                <div class="list">
                    <ol>
                        <li>Заява встановленого взірця.</li>
                        <li>Копія паспорта особи, яка бере безпосередню участь у бойових діях.</li>
                        <li>
                            Копія реєстраційного номера облікової картки платника податків особи, яка бере безпосередню
                            участь у бойових діях.
                        </li>
                        <li>
                            Копія витягу з реєстру територіальної громади про реєстрацію місця проживання особи, яка
                            бере безпосередню участь у забезпеченні здійснення заходів з національної безпеки і оборони
                            України відсічі і стримування збройної агресії російської федерації про.
                        </li>
                        <li>
                            Копія довідки ВПО, яка зареєстрован згідно Єдиної інформаціної бази даних про ВПО в
                            населених пунктах Івано-Франківської міської територіальної громади при наявності).
                        </li>
                        <li>
                            Копія довідки про безпосередню участь у бойових діях, видана військовою частиною МОУ, МВС
                            України, Національною поліцією, Національною гвардією України та ін..
                        </li>
                        <li>
                            Реквізити рахунку особи, яка бере безпосередню участь у бойових діях, відкритого в банку.
                        </li>
                        <li>Копія довіреності, завірена належним чином (у разі подання заяви довіреною особою).</li>
                    </ol>
                </div>
                <h1 class="title-list">
                    Перелік нормативно-правових документів, що регулюють надання послуги
                </h1>
                <div class="list">
                    <ul class="appeal">
                        <li>Кодекс від 08.07.2010 №2456-VI Бюджетний кодекс України </li>
                        <li>
                            Постанова КМУ від 18.04.2018 №280 "Питання забезпечення житлом внутрішньо переміщених осіб,
                            які захищали незалежність, суверенітет та територіальну цілісність України"
                        </li>
                    </ul>
                </div>
                <h1 class="title-list">
                    Документи, які отримує особа за результатами розгляду справи
                </h1>
                <div class="list">
                    <ul class="appeal">
                        <li>
                            Рішення про призначення грошової компенсації.
                        </li>
                        <li>Рішення про відмову в призначенні грошової компенсації.</li>
                    </ul>
                </div>
            </div>
    </section>
    <!-- section description scholarship poslyga ends -->
    <!-- footer section starts -->
    <div class="footer">
        <section>
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
                <a href="#" class="fab fa-pinterest"></a>
            </div>
            <div class="links">
                <a href="home.html">Головна</a>
                <a href="about.html">Про нас</a>
                <a href="news.html">Новини</a>
                <a href="services.html">Послуги</a>
                <a href="contact.html">Зворотній зв'язок</a>
            </div>
            <div class="credit">created by <span>ivan</span>| all rights reserved</div>
        </section>
    </div>
    <!-- footer section ends -->
    <script src="script/script.js"></script>
</body>